[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_57A53002A434B70739383333-if00
# # cd ~/klipper/scripts && python3 -c 'import flash_usb as u; u.enter_bootloader("/dev/serial/by-id/usb-Klipper_stm32f103xe_57A53002A434B70739383333-if00")'
restart_method: command

# [output_pin _cfs_red_0]
# pin: mmu:PC6
# [output_pin _cfs_white_0]
# pin: mmu:PB7
# [output_pin _cfs_red_1]
# pin: mmu:PC7
# [output_pin _cfs_white_1]
# pin: mmu:PB4
# [output_pin _cfs_red_2]
# pin: mmu:PC8
# [output_pin _cfs_white_2]
# pin: mmu:PB5
# [output_pin _cfs_red_3]
# pin: mmu:PC9
# [output_pin _cfs_white_3]
# pin: mmu:PB6
[led _cfs_0]
red_pin: mmu:PC6
white_pin: mmu:PB7
[led _cfs_1]
red_pin: mmu:PC7
white_pin: mmu:PB4
[led _cfs_2]
red_pin: mmu:PC8
white_pin: mmu:PB5
[led _cfs_3]
red_pin: mmu:PC9
white_pin: mmu:PB6
[filament_switch_sensor _cfs_presence_0]
pause_on_runout: false
switch_pin: !mmu:PD7
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_0 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_0_feed SPEED=1
runout_gcode:
  SET_LED LED=_cfs_0 RED=1 WHITE=0

[filament_switch_sensor _cfs_presence_1]
pause_on_runout: false
switch_pin: !mmu:PD6
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_1 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_1_feed SPEED=1
runout_gcode:
  SET_LED LED=_cfs_1 RED=1 WHITE=0

[filament_switch_sensor _cfs_presence_2]
pause_on_runout: false
switch_pin: !mmu:PD5
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_2 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_2_feed SPEED=1
runout_gcode:
  SET_LED LED=_cfs_2 RED=1 WHITE=0

[filament_switch_sensor _cfs_presence_3]
pause_on_runout: false
switch_pin: !mmu:PD4
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_3 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_3_feed SPEED=1
runout_gcode:
  SET_LED LED=_cfs_3 RED=1 WHITE=0

[filament_switch_sensor _cfs_gate_0]
pause_on_runout: false
switch_pin: !mmu:PE10
event_delay: 0
insert_gcode:
  # SET_LED LED=_cfs_0 RED=0 WHITE=1
  # SET_FAN_SPEED FAN=_cfs_filament_0_feed SPEED=0
  # SET_FAN_SPEED FAN=_cfs_filament_0_retract SPEED=1
  # G4 P2000
  # SET_FAN_SPEED FAN=_cfs_filament_0_retract SPEED=0
runout_gcode:
  SET_LED LED=_cfs_0 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_0_retract SPEED=0

[filament_switch_sensor _cfs_gate_1]
pause_on_runout: false
switch_pin: !mmu:PE9
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_1 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_1_feed SPEED=0
  SET_FAN_SPEED FAN=_cfs_filament_1_retract SPEED=1
  G4 P2000
  SET_FAN_SPEED FAN=_cfs_filament_1_retract SPEED=0
runout_gcode:
  SET_LED LED=_cfs_1 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_1_retract SPEED=0

[filament_switch_sensor _cfs_gate_2]
pause_on_runout: false
switch_pin: !mmu:PE8
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_2 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_2_feed SPEED=0
  SET_FAN_SPEED FAN=_cfs_filament_2_retract SPEED=1
  G4 P2000
  SET_FAN_SPEED FAN=_cfs_filament_2_retract SPEED=0
runout_gcode:
  SET_LED LED=_cfs_2 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_2_retract SPEED=0

[filament_switch_sensor _cfs_gate_3]
pause_on_runout: false
switch_pin: !mmu:PE7
event_delay: 0
insert_gcode:
  SET_LED LED=_cfs_3 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_3_feed SPEED=0
  SET_FAN_SPEED FAN=_cfs_filament_3_retract SPEED=1
  G4 P2000
  SET_FAN_SPEED FAN=_cfs_filament_3_retract SPEED=0
runout_gcode:
  SET_LED LED=_cfs_3 RED=0 WHITE=1
  SET_FAN_SPEED FAN=_cfs_filament_3_retract SPEED=0

[filament_switch_sensor _cfs_buffer_0]
pause_on_runout: false
switch_pin: !mmu:PD8

[filament_switch_sensor _cfs_buffer_1]
pause_on_runout: false
switch_pin: !mmu:PD9

[output_pin cfs_direction]
pin: mmu:PE3
value: 1.0

[fan_generic cfs_drive_motor]
pin: !mmu:PE13
enable_pin: !mmu:PE4
# tachometer_pin: ^mmu:PB14
# tachometer_pin: ^!mmu:PE11
tachometer_pin: ^mmu:PB3
tachometer_ppr: 200
# tachometer_poll_interval: 0.0005
# off_below: 0.3

[angle cfs_drive_speed]
sensor_type: mt6826s
cs_pin: mmu:PB12
#   The SPI enable pin for the sensor. This parameter must be provided.
#spi_speed:
#spi_bus:
spi_software_sclk_pin: mmu:PB13
spi_software_mosi_pin: mmu:PB15
spi_software_miso_pin: mmu:PB14

[fan_generic _cfs_filament_0_feed]
pin: mmu:PD2

[fan_generic _cfs_filament_0_retract]
pin: mmu:PD3

[fan_generic _cfs_filament_1_feed]
pin: mmu:PD0

[fan_generic _cfs_filament_1_retract]
pin: mmu:PD1

[fan_generic _cfs_filament_2_feed]
pin: mmu:PD14

[fan_generic _cfs_filament_2_retract]
pin: mmu:PD15

[fan_generic _cfs_filament_3_feed]
pin: mmu:PD12

[fan_generic _cfs_filament_3_retract]
pin: mmu:PD13