#####################################################################
# Homing
#####################################################################

[gcode_macro G28]
rename_existing: G28.1
gcode:
  SET_PRINTER_STATE STATE=homing
  G28.1 { rawparams }
  SET_PRINTER_STATE STATE=idle

# [homing_override]
# axes: xyz
# gcode:
#     G90 #absolute
#     {% set flag_O = params.O|default("false") %}
#     {% set flag_X = params.X|default("false") %}
#     {% set flag_Y = params.Y|default("false") %}
#     {% set flag_Z = params.Z|default("false") %}
#     {% if (flag_Y == "false" and flag_X == "false" and flag_Z == "false") %}
#         {% set flag_X = "true" %}
#         {% set flag_Y = "true" %}
#         {% set flag_Z = "true" %}
#     {% endif %}
#     {% if flag_O !="false" and 'x' in printer.toolhead.homed_axes %}
#         {% set flag_X = "false" %}
#     {% endif %}
#     {% if flag_O !="false" and 'y' in printer.toolhead.homed_axes %}
#         {% set flag_Y = "false" %}
#     {% endif %}
#     {% if flag_O !="false" and 'z' in printer.toolhead.homed_axes %}
#         {% set flag_Z = "false" %}
#     {% endif %}
    
#     {% if (flag_X !="false" or flag_Y !="false" or flag_Z !="false") %}
#         {% if 'z' not in printer.toolhead.homed_axes %}
#             FORCE_MOVE STEPPER=stepper_z DISTANCE=10 VELOCITY=10 # Raise Z
#         {% else %}
#             G91 # relative
#             G0 Z10 F600
#             G90 # absolute
#         {% endif %}
#     {% endif %}
#     {% if (flag_Y != "false") or ((flag_X != "false" or flag_Z != "false") and 'y' not in printer.toolhead.homed_axes) %}
#         _SENSORLESS_HOME_Y
#     {% endif %}
#     {% if (flag_X != "false") or (flag_Z != "false" and 'x' not in printer.toolhead.homed_axes) %}
#         G0 Y30 F3600  # Move Y to safe X
#         _SENSORLESS_HOME_X
#         G0 X220 F3600  # Move X to fully rehome Y
#         _SENSORLESS_HOME_Y
#     {% endif %}
#     {% if flag_Z != "false" %}
#          G0 X150 Y150 F3600 #Move XY to safe Z
#          G28.1 Z
#          G0 Z10 F1800  
#     {% endif %}

# [gcode_macro _SENSORLESS_HOME_Y]
# gcode:
#     {% set HOME_CUR_X = 0.3 %}
#     {% set HOME_CUR_Y = 0.3 %}
#     {% set RUN_CUR_X = printer.configfile.settings['tmc5160 stepper_x'].run_current %}
#     {% set RUN_CUR_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current %}
#     # Set current for sensorless homing
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR_Y}
#     # Pause to ensure driver stall flag is clear
#     G4 P2000
#     # Home
#     G28.1 Y
#     # Move away
#     G90
#     G1 Y0 F1200
#     # Set current during print
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}

# [gcode_macro _SENSORLESS_HOME_X]
# gcode:
#     {% set HOME_CUR_X = 0.3 %}
#     {% set HOME_CUR_Y = 0.3 %}
#     {% set RUN_CUR_X = printer.configfile.settings['tmc5160 stepper_x'].run_current %}
#     {% set RUN_CUR_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current %}
#     # Set current for sensorless homing
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR_Y}
#     # Pause to ensure driver stall flag is clear
#     G4 P2000
#     # Home
#     G28.1 X
#     # Move away
#     G90
#     G1 X300 F1200
#     # Set current during print
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}


#####################################################################
# Motors
#####################################################################

## Connected to E1-MOT
# [stepper_z2]
# step_pin: PE6
# dir_pin: PC13
# enable_pin: !PE5
# rotation_distance: 40
# gear_ratio: 27:1
# microsteps: 16

## Connected to E0-MOT
# [stepper_z1]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PD4
# rotation_distance: 8
# gear_ratio: 27:1
# microsteps: 16

[stepper_x]
##	Connected to X-MOT
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200 
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 80
second_homing_speed: 60
homing_retract_dist: 20
homing_positive_dir: true

[stepper_y]
##	Connected to Y-MOT
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 306
homing_speed: 80
second_homing_speed: 60
homing_retract_dist: 20
homing_positive_dir: false

##	Connected to Z-MOT
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 8
full_steps_per_rotation: 200
gear_ratio: 64:20
microsteps: 64
endstop_pin: probe:z_virtual_endstop 
position_max: 280
position_min: -10
homing_speed: 5
second_homing_speed: 1
# homing_retract_dist: 3.0
homing_retract_dist: 0

#####################################################################
# TMC 2209 [E1][E0][X][Y][Z]
#####################################################################

## Port E1
# [tmc2209 stepper_z2]
# uart_pin: PC14
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0

# [tmc2209 stepper_z1]
# uart_pin: PD7
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# #diag_pin:PG2

# [tmc2209 stepper_x]
# uart_pin: PE7
# interpolate: True
# run_current: 1.0
# # hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag_pin:^PE0
# driver_SGTHRS: 75

# [tmc2209 stepper_y]
# uart_pin: PE15
# interpolate: True
# run_current: 1.0
# # hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag_pin:^PB13
# driver_SGTHRS: 80

[tmc2209 stepper_z]
uart_pin: PD10
uart_address: 0
interpolate: True
run_current: 0.8
hold_current: 0.5
# home_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# TMC 5160 [E1][E0][X][Y][Z]
#####################################################################

# [tmc5160 stepper_z2]
# cs_pin: PC14
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PD12
# # driver_SGT: 30

# [tmc5160 stepper_z1]
# cs_pin: PD7
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PC4
# # driver_SGT: 30

[tmc5160 stepper_x]
cs_pin: PE7
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
run_current: 1.2
# home_current: 0.3
# interpolate: False
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0
diag1_pin: ^!PE0
driver_SGT: 1

[tmc5160 stepper_y]
cs_pin: PE15
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
run_current: 1.2
# home_current: 0.3
# interpolate: False
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0
diag1_pin: ^!PB13
driver_SGT: 1

# [tmc5160 stepper_z]
# cs_pin: PD10
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# interpolate: True
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PE1
# # driver_SGT: 30
