[include fluidd.cfg]
[include macros.cfg]
[include toolhead.cfg]
[include kinematics.cfg]
[include probe_carto.cfg]
# [include probe_eddy.cfg]
# [include probe_eddyng.cfg]
# [include probe_microprobe.cfg]
[include personal_macros.cfg]
[include neopixel.cfg]
[include prowiper.cfg]
[include timelapse.cfg]
# Happy Hare
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
# [include box.cfg]

#####################################################################
# Features
#####################################################################

[pause_resume]

[display_status]

[exclude_object]

[respond]

[virtual_pins]

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 172800 # 48 Hours

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/variables.cfg

#####################################################################
# System
#####################################################################

[duplicate_pin_override]
pins: PA1, PC1, PC14, PB2, ADC_TEMPERATURE, toolhead:PC14 #, mmu:PE13, mmu:PD2, mmu:PD0, mmu:PD14, mmu:PD12, mmu:PD7, mmu:PD6, mmu:PD5, mmu:PD4, mmu:PC6, mmu:PB7, mmu:PC7, mmu:PB4, mmu:PC8, mmu:PB5, mmu:PC9, mmu:PB6, mmu:PE10, mmu:PE9, mmu:PE8, mmu:PE7, mmu:PD8, mmu:PD9, mmu:PE3, mmu:PE4, mmu:PE11, mmu:PD3, mmu:PD1, mmu:PD15, mmu:PD13

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1A003F000D51333235363331-if00
# cd ~/klipper/scripts && python3 -c 'import flash_usb as u; u.enter_bootloader("/dev/serial/by-id/usb-Klipper_stm32h723xx_1A003F000D51333235363331-if00")'

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 40000 
max_z_velocity: 25		    
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor catalyst_mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT_Pi_temp]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp # Default for most Pi boards
min_temp: -10
max_temp: 90

#####################################################################
# Bed
#####################################################################

[heater_bed]
heater_pin: !PB0 ##	SSR Pin - In AC-BED OUT position
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 125
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[screws_tilt_adjust]
screw1: 19,23
screw1_name: front left
screw2: 278,23
screw2_name: front right
screw3: 248,272
screw3_name: rear right
screw4: 50,272
screw4_name: rear left
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4

# [z_tilt]
# z_positions:
#     150, 350 # Back Middle
#     -50, 15  # Front Left
#     350, 15  # Front Right
# points:
#     150, 250 # Back Middle
#     50, 50   # Front Left
#     250, 50  # Front Right
# speed: 100
# horizontal_move_z: 10
# retries: 5
# retry_tolerance: 0.02

#####################################################################
# Fans
#####################################################################

[temperature_fan chamber_fan]
pin: PA1
cycle_time: 0.0100
hardware_pwm: false
max_power: 1.0
shutdown_speed: 0.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 35.0
max_speed: 1.0
min_speed: 0.0

[controller_fan _driver_fan]
pin: PB2
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 1.0
idle_speed: 0.7
idle_timeout: 120
# min_power: 0.3
stepper: stepper_x, stepper_y, stepper_z # stepper_e0, stepper_e1

[temperature_fan _board_fan]
pin: PB2
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
min_speed: 0.3
control: watermark
max_delta: 5
# control: curve
# points:
#  40.0, 0.3
#  45.0, 0.4
#  50.0, 0.6
#  55.0, 0.85
#  60.0, 1.0
# cooling_hysteresis: 2.0
min_temp: -10
max_temp: 90
target_temp: 50

[temperature_fan _pi_fan]
pin: PA0
tachometer_pin: PC2
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp # Default for most Pi boards
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
min_speed: 0.3
control: watermark
max_delta: 5
# control: curve
# points:
#  40.0, 0.3
#  45.0, 0.4
#  50.0, 0.6
#  55.0, 0.85
#  60.0, 1.0
# cooling_hysteresis: 2.0
min_temp: -10
max_temp: 90
target_temp: 50

[fan_generic exhaust_fan]
pin: PA1
cycle_time: 0.0100
kick_start_time: 0.5
# min_power: 0.3
max_power: 1.0

[fan_generic ouglesauce]
pin: PB3
cycle_time: 0.0100
kick_start_time: 1.0
# min_power: 0.5
max_power: 1.0

[heater_generic chamber]
heater_pin: PC8
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: watermark
max_delta: 1
min_temp: 0
max_temp: 65

[verify_heater chamber]
max_error: 900
check_gain_time: 300
hysteresis: 50
heating_gain: 1

#####################################################################
# LED Control
#####################################################################
[output_pin LED]
pin: PA15
pwm: True
cycle_time: 0.010
value: 1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 19.106
#*# pid_ki = 0.743
#*# pid_kd = 122.754
#*# pid_version = 1
#*# pid_target = 70.00
#*# pid_tolerance = 0.0200
#*#
#*# [telemetry]
#*# enabled = True
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 65.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 51.2
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.051
#*# pid_ki = 1.536
#*# pid_kd = 47.317
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUBtjPsy/xPU/LEMjlKQo/T9RFVWujFjlP9o/QAxnF98/40ftaV6X4j/6sVtKtzWHPyqYzCegENa/JmT5HhxN0D8X1CqvGWLPPxZtVHkrFrK/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgHhi7IanlD4gLw3kqAWVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQqqjGJf26GkCUOwbQ5SQKQD3AXC/JOfw/Q3QWGSSl7j8lUHnvmUDJP54JDUGdlNQ/GD2ODGiP9D+GLghi+cfwP4FXRn5I8Le//9U3bRpc0b+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDELfU7VxtApU+bBGgTvgWlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BQn/HWoO2UPnzVbuqJGCM+NHQc0438Fr79FsBjEbQHPkz5ADZ97PM97fsyn3wQA74HXSXyTAUEvtRsY2GPhgU+5S1rO3W+8z0eAnoFiLvwvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQIDwyE/t2Vz+2aKUOSfwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/V3b7EzI8IEdALf//e/K8omWMB2ZfcmFuZ2WUXZQoR0FIRvgeG2AAR0FIyfWb2kgAZYwCZGOUSw91Lg==
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUOrJE6vzmvQ/ATihKbGa/D+bO1S38MfnP3rQOccVLNk/uNlEZqU43T+XtFggIgLZP4bNDiPVHNO/BkNl1vD/0795S8d343HTP4kY2nWXHs4/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQcwDofeq2lD69mGJVNCGVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQlaaNOgKyGkAXGTxiG08JQGQS7vxjrfs/oX/oBnaZAkANBgRewqjkP3sSmTDZPRLAUZf1ka6I3j+VWprrFtUeQGpZ2lJLedk/EYE7vxPyCcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEO1/fDT6HZU+VGWxjuozlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BveLZCZQeVPki59ZMw8CQ+6E6xv5izF74Rz/FTyk4FPvUV+DvbCfG9cmh2Fcfw4T2W1gCjSW3YPaKu/HhYnuy9jdVIQXZmyL1feLm3PmndPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAHmm5OuuQj+2d0gg0/kTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Qq7r5KZ5AEdALf9HiMVKwmWMB2ZfcmFuZ2WUXZQoR0FIJdNfwwgAR0FIt4soNbAAZYwCZGOUSxB1Lg==
#*#
#*# [cartographer touch_model default]
#*# threshold = 792
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5218034511326857,2.013462066971556,0.8609044572672884,0.4006556604711059,0.31731922953202624,0.37215970554975764,-0.09555475825157639,-0.32099060358237197,0.19638424062458662,0.24339159591219928
#*# domain = 3.337132493057779e-07,3.4514352654126306e-07
#*# z_offset = 0
#*# reference_temperature = 43.18
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V4 6.1.0
#*#
#*# [cartographer coil]
#*# calibration = 2.191260273026277e-05,10.540187732088915,0.0,-1.5e-323
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.006336, -0.045192, -0.038413, 0.007276, 0.069992
#*# compensation_start_x = 11.0
#*# compensation_end_x = 290.0
#*# zy_compensations = 0.027522, 0.021956, -0.026506, -0.025496, 0.002524
#*# compensation_start_y = 37.0
#*# compensation_end_y = 260.0
#*#
#*# [cartographer]
#*# z_backlash = 0.01268
