
[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434040847931C-if00 # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id``` 
# cd ~/klipper/scripts && python3 -c 'import flash_usb as u; u.enter_bootloader("/dev/serial/by-id/usb-Klipper_rp2040_504434040847931C-if00")'
restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -23.0
y_offset: 0.0
tap_samples: 5
tap_max_samples: 15

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
horizontal_move_z: 2.0
speed: 150
mesh_min: 15, 15
mesh_max: 260, 280
probe_count: 20, 20
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: .025
fade_start: 1
fade_end: 10
fade_target: 0
scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

# Uncomment this if you are using Eddy as the probe AND the homing endstop
# [safe_z_home]
# home_xy_position: 150, 150 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
# z_hop: 10
# z_hop_speed: 25
# speed: 100
# home_y_before_x: True

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
  SET_VELOCITY_LIMIT ACCEL=5000 SQUARE_CORNER_VELOCITY=2.5
  SET_PRINTER_STATE STATE=meshing
  _BED_MESH_CALIBRATE METHOD=rapid_scan { rawparams } # Klipper
  #EDDYNG_BED_MESH_EXPERIMENTAL { rawparams } # Kalico
  M400
  SET_PRINTER_STATE STATE=idle

[gcode_macro EDDY_TAP_BED]
gcode:
  SET_PRINTER_STATE STATE=calibrating
  G90
  G1 Z10 F1800
  G1 X150 Y150 F6000
  PROBE_EDDY_NG_TAP TARGET_Z=-0.600
  SET_PRINTER_STATE STATE=idle