#####################################################################
# Klipper Compilation
#####################################################################

# MCU CHip: STM32G431
# Clock Crystal: 12Mhz
# Bootloader: NONE
# Memory Location: 0x08000000

#####################################################################
# System
#####################################################################

[mcu toolhead]
serial: /dev/serial/by-id/usb-Klipper_stm32g431xx_2A0054000850454B52343920-if00
# cd ~/klipper/scripts && python3 -c 'import flash_usb as u; u.enter_bootloader("/dev/serial/by-id/usb-Klipper_stm32g431xx_2A0054000850454B52343920-if00")'

[duplicate_pin_override]
pins: toolhead:PC14

[temperature_sensor toolhead_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp: 0
max_temp: 100

#####################################################################
# Extruder
#####################################################################

[thermistor K2P]
temperature1:25
resistance1:260000
temperature2:220
resistance2:738
temperature3:350
resistance3:98

[extruder]
step_pin: toolhead:PB7
dir_pin: !toolhead:PB6
enable_pin: !toolhead:PB9
rotation_distance: 5.818
microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: toolhead:PC15
sensor_type: K2P
sensor_pin: toolhead:PB2 
pullup_resistor: 4700
min_temp: 0 
max_temp: 350
max_power: 0.8 # K2P Hotend is really spicy at 120W, let's not push that through the Catalyst.K toolhead
min_extrude_temp: 10
# control: mpc
# heater_power: 60  
# cooling_fan: fan
# filament_diameter: 1.75
# filament_density: 1.20
# filament_heat_capacity: 1.8 
# control: pid
# pid_Kp: 18.695 
# pid_Ki: 1.917 
# pid_Kd: 45.569
# pid_Kp: 24.380
# pid_Ki: 2.463
# pid_Kd: 60.340
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040
# per_move_pressure_advance: True
max_extrude_cross_section: 5000.0
max_extrude_only_distance: 1500

#####################################################################
# TMC
#####################################################################

[tmc2209 extruder]
uart_pin: toolhead:PA15
interpolate: false
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: toolhead:PA13

#####################################################################
# Input Shaper
#####################################################################

[input_shaper]

[adxl345]
cs_pin: toolhead:PA0
spi_software_sclk_pin: toolhead:PA5
spi_software_mosi_pin: toolhead:PA7
spi_software_miso_pin: toolhead:PA6
axes_map: -y,z,-x

[resonance_tester]
probe_points:
  150,150,25
  # 75,75,50
  # 225,225,75
  # 75,225,100
  # 225,75,125
accel_chip: adxl345
hz_per_sec: 1
max_freq: 145

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 1200
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.


#####################################################################
# Fans 
#####################################################################

[fan]
pin: !toolhead:PB10
enable_pin: toolhead:PB3
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
tachometer_pin: ^toolhead:PB11
tachometer_ppr: 4
tachometer_poll_interval: 0.0008
shutdown_speed: 1.0
# min_power: 0.2
max_power: 1.0


[heater_fan hotend_fan]
pin: toolhead:PA2
# pin: toolhead:PA8
# enable_pin: toolhead:PA2
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
tachometer_pin: ^toolhead:PA8
tachometer_ppr: 4
tachometer_poll_interval: 0.0008
heater: extruder
heater_temp: 40
shutdown_speed: 1.0

#[fan Fan2]
#pin: toolhead:PA4

#[fan Fan3]
#pin: toolhead:PA3

#####################################################################
# Runout Sensor
#####################################################################

# [filament_switch_sensor runout_sensor]
# pause_on_runout: True
# event_delay: 3.0
# pause_delay: 0.5
# debounce_delay: 0.100
# switch_pin: !toolhead:PC14
# #runout_gcode:
# insert_gcode:
#   LOAD_FILAMENT

#####################################################################
# Misc Sensors
#####################################################################

# [thermistor ntc10k]
# temperature1: 20
# resistance1: 12440
# temperature2: 40
# resistance2: 5380
# temperature3: 70
# resistance3: 1790

# [temperature_sensor part_cooler_temp]
# sensor_type: ntc10k
# sensor_pin: PB1
